{% if success == false %}
    <div class="bg-warn text-white p-4 rounded shadow mb-4">
        <p>Launch data could not be accessed at this time. Please try again later.</p>
    </div>
{% else %}
    {% for launch in launches %}
    <a href="/launch/{{ launch.id }}" class="block">
        <div class="bg-light p-4 rounded shadow mb-4 launch-item">
            <h3 class="text-lg font-bold">{{ launch.name }}</h3>
            <p>{{ launch.net }} - {{ launch.pad.location.name }}</p>
        </div>
    </a>
    {% endfor %}
{% endif %}