{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="space-y-8">

    <h2 class="text-3xl font-bold">Welcome to The Space Centre</h2>
    <section class="p-4 bg-gray-800 rounded shadow-lg">
        <p class="text-lg">Location:  Time:</p>
    </section>

    <section>
        <h2 class="text-2xl font-semibold mb-4">Upcoming Launches</h2>
        <div hx-get="/api/next-launch" hx-trigger="load" hx-target="#launch-card" class="bg-gray-800 p-4 rounded shadow-lg">
            <div id="launch-card" class="text-center text-blue-400">Loading launches...</div>
        </div>  
    </section>

    <section>
        <h2 class="text-2xl font-semibold mb-4">Your Sky</h2>
        <div hx-get="api/planets" hx-trigger="load" hx-target="#planets-card" class="bg-gray-800 p-4 rounded shadow-lg">
            <div id="planets-card" class="text-center text-blue-400">Loading planets...</div>
        </div>
    </section>

    <section>
        <h2 class="text-2xl font-semibold mb-4">News</h2>
        <div hx-get="/api/news" hx-trigger="load" hx-target="#news-card" class="bg-gray-800 p-4 rounded shadow-lg">
            <div id="news-card" class="text-center text-blue-400">Loading news...</div>
        </div>  
    </section>

</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

{% endblock %}