<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>The Space Centre: {% block title %}{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/alpinejs" defer></script>
        <script src="https://unpkg.com/htmx.org@1.9.10" defer></script>
    </head>

    <body class="bg-gradient-to-t from-blue-900 via-black to-gray-900 text-white font-sans min-h-screen flex flex-col">
        <header class="bg-gray-900 p-4 shadow">
            <div class="mx-auto flex items-center">
                <h1 class="text-2xl font-bold text-white flex-1 text-left">The Space Centre</h1>
                <nav class="space-x-4 text-right">
                    <a href="/" class="hover:underline">Log In</a>
                    <a href="/" class="hover:underline">Sign Up</a>
                </nav>
            </div>
        </header>
        <main class="container mx-auto p-4 flex-1">
            <div class="border border-gray-700 rounded-lg p-4">
                {% block content %}{% endblock %}
            </div>
        </main>
    </body>
</html>